<div class="carousel-container">
  <div class="carousel-inner">
    <div class="track" id="homepage-book-list">
    </div>
  </div>
  <div class="nav">
    <button class="prev">
                    <span class="material-symbols-outlined">
                        keyboard_arrow_left
                    </span>
    </button>
    <button class="next">
                    <span class="material-symbols-outlined">
                        keyboard_arrow_right
                    </span>
    </button>
  </div>
</div>
